

nav{
    position: relative;

    .nav-container{
    // @include center;
    display: grid;
    grid-template-columns: 5% 70% 25%;
    margin: 2% 0;
    position: absolute;
    width: 100%;

    
 
    .navigation{
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-align: center;
    }

    .social{
        display: flex;
    }
}
}