

nav{
    position: relative;

    .nav-container{
    // @include center;
    display: grid;
    grid-template-columns: 15% 65% 20%;
    margin: 2% auto;
    position: absolute;
    width: 100%;
    
    @media screen and (min-width: 560px) and (max-width: 750px) {  /* Tablette */
        grid-template-columns: 12% 88% 0fr;
    }
        .resto{
            color: white;
            font-family: allura;
            font-size: 2.3rem;
            font-weight: bold;
            margin: 0 auto;
        /*@media screen and (min-width: 560px) and (max-width: 750px) {  Tablette 
            display: none;
        }*/ 
        }
 
        .navigation{
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: center;
            margin: 0 2%;
            
            @media screen and (max-width: 560px) { /* Tablette */ 
            display: block;
            

            transform: translateY(-100%);
            &:hover{
            animation: h1anim 1.5s ease-in-out forwards;   /*Appel de l'animation h1anim, ease-in-out = lent au début et à la fin, forwards fait rester l'animation */
            transform-origin: top; // fait partir l'animation de la gauche */
            }
        
        

            a{
              margin: auto;  
            }
            }
        }

    }

    .social{
        display: flex;
        justify-content: space-around;
        margin: auto;

        @media screen  and (min-width: 560px) and (max-width: 750px) { /* Tablette */ 
            display: none;
        }
        @media screen  and (max-width: 560px) { /* Mobile */ 
            display: block;
        }
    }
}








 


 