


.section1-discover{
    display: block;
    

.s1-container{
    background-color: white;
    
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 1300px;
    margin: auto;

    align-items: center;
    
    .img{
        img{
           width: 100%;
        }
    }
}
}

.section2-menu{
    @include fond-deroulant("./assets/img/bg-menu-01.jpg");

    display: flex;
    flex-direction: column;
    height: 100vh;
    

    @include center;
    
    .repas{

        .type{
            display: flex;
        }

    }

    .carte{
        background: white;
        margin: 0 30%;
        height: 500px;
        width: 70%;
        max-width: 1000px;
         
    }
}

.section3-rdv{
    background-color: $background1;
    margin: auto;
    max-width: 1300px;

    .rdv{
        display: grid;
        grid-template-columns: 30% 70%;


        margin: 15% 15%;
        

    .ouverture{
        background-color: black;
        height: 500px;
    }
    .reservation{
        background-color: white;
    }
    }
}

.section4-event{
    @include center;
    flex-direction: column;

.event{
    background-color: $background1;

    display: grid;
    grid-template-columns: 60% 40%;

    max-width: 1300px;
    width: 80%;

      .left{
        display: block;
        .high-left{
            display: grid;
            grid-template-columns: 40% 60%
        }

        .bottom-left{ 
            display: grid;
            grid-template-columns: 40% 60%
        }
      }
    }
}


.section5-CEO{
    @include fond-deroulant("./assets/img/gmap.jpg");

    display: block;
    height: 100vh;
    @include center;


    .citation{
        background: white;
        
        width: 70%;
        height: 300px;
        max-width: 800px;
        p{
        
        }
    }


}