
/* Fonts Google Oswald https://fonts.google.com/specimen/Oswald */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

/* Fonts téléchargée sur Google et mis dans le dossier puis importée dans le projet
https://fonts.google.com/specimen/DM+Serif+Display?query=dm+ser */
@font-face {
    font-family: "allura-regular";
    src: url(../assets/fonts/Allura/Allura-Regular.ttf);
}
@font-face {
    font-family: "poppins-medium";
    src: url(../assets/fonts/Poppins/Poppins-Medium.ttf);
}
@font-face {
    font-family: "robot-light";
    src: url(../assets/fonts/Roboto/Roboto-Light.ttf);
}



@font-face {
    font-family: "inter-bold";
    src: url(../assets/fonts/Inter/static/Inter-Light.ttf);
  }
  @font-face {
    font-family: "merri";
    src: url(../assets/fonts/Merriweather/Merriweather-Regular.ttf);
  }
  
$font10: inter-bold, sans-serif;
$font11: merri, serif;

 
// font-family: $font11;




// variables
// colors http://davidbau.com/colors/
$color0: white;
$color1: black;
$color2: grey;
$color3: grey;
$color4: grey;


$black1: rgb(17, 12, 12);

$font1: allura-regular, serif, sans-serif;
$font2: poppins-medium, sans-serif, serif;
$font3: robot-light, serif, sans-serif;

$background1: grey;

// $font2: , serif;



// MIXINS
@mixin title{ // @include title;
    font-family: $font1;
    letter-spacing: 2px;
    text-transform: uppercase;

    p{
        color: burlywood;
    }
    h1{

    }
    h2{

    }

}

@mixin center { // @include center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@mixin margin { // @include margin;

}


@mixin informations{ // @include informations;
}



@mixin fond-deroulant($image){ // @include fond-deroulant;
    // https://developer.mozilla.org/en-US/docs/Web/CSS/background-image
    background: url($image) fixed center, $background1;
    // https://developer.mozilla.org/en-US/docs/Web/CSS/background-size
    background-size: contain;
    background-repeat: no-repeat;
    // https://developer.mozilla.org/en-US/docs/Web/CSS/background-position
    background-position: bottom; 
}



html{
    scroll-behavior: smooth; // scroll en douceur
}


body{
    background: rgb(44, 17, 17) ;
    // background: url(../assets/img/dish-gallery-01.jpg) fixed center/cover;
 
}

 