// reset

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; // ajuste mieux les boites, meilleure organisation
    outline: none;
}

li{    
    list-style-type: none; // pas de point pour les listes
}

